<div class="sidenav-header">
    <img [width]="profilePicSize()" 
        [height]="profilePicSize()"
        src="https://avatars.githubusercontent.com/u/88124870?v=4&size=64"/>
    <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
        <h2>nome do usuarío</h2>
    </div>
</div>
<mat-nav-list>
    @for (item of menuItems(); track item) {
    <a 
        mat-list-item class="menu-item" 
        [routerLink]="item.route" 
        routerLinkActive="selected-menu-item"
        #rla="routerLinkActive"
        [activated]="rla.isActive"
    >
        <mat-icon [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'">{{ item.icon }}</mat-icon>
        @if (!sideNavCollapsed()) {
            <span matListItemTitle >{{ item.label }}</span>
        }
    </a>
    }
</mat-nav-list>